<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="info">
            <div class="info-content">
                <div class="profile">
                    <img src="1.jpg" alt="" class="images">
                    <h2 class="name">JOHN KEVIN CAMPANILLA</h2>
                    <p class="position">Back-end developer</p>
                </div>
                <div class="contact-info">
                    <h3 class="title">Contact Information</h3>
                <ul>
                    <li><i class="fas fa-address-book"></i>
                        <span class="text"> Talamban,Cebu Ciy</span>
                   
                    </li>
                    <li><i class="fas fa-phone-alt"></i>
                        <span class="text"> 0924300903</span>
                   
                    </li>
                    <li><i class="fa fa-fax"></i>
                        <span class="text">  john@gmail.com</span>
                  
                    </li>
                </ul>
                </div>
                <div class="skills">
                    <div class="title">
                      <h3>Professional Skills</h3>
                    </div>
                    <!-- <?php 
                    for($j=0; $j<count($skills); $j++){
                        echo "<div class='skill-1'>
                                <p><strong>" . strtoupper($skills[$j]) . "</strong></p>
                                <div class='progress'>";
                          for($i=0;$i<$skill_levels[$j];$i++){
                            echo '<div class="fas fa-star active"></div>';
                            
                          }
                          echo '</div></div>';
              
                        }
                    ?> -->
                  </div>
            </div>
           
        </div>
        <div class="detailed">
            <div class="detail">
               <h2 class="title">Discriptions</h2> 

            </div>
            <!-- <div class="desc"><?php echo $about_me;?></div> -->
              <div class="desc"></div>
              <div class="group-2">
                <div class="title">
                  
                    <h2>Education</h2>
                 
                </div>
                <div class="desc">
                  <!-- <?php 
                    for($i=0; $i<count($institutes);$i++)
                    {
                      echo "<ul>
                      <li>
                        <div class='msg-1'>" . $froms[$i] . "-" . $tos[$i]. " | " . ucwords($degrees[$i]) . ", ". "</div>
                        <div class='msg-2'>" . ucwords($institutes[$i]) . "</div>
                      </li>
                    </ul>";
                    }
                  ?> -->
                </div>
              </div>
              <div class="group-3">
                <div class="title">
                  
                    <h2>Work History</h2>
                 
                </div>
                <div class="date">
                    <h3 class="dte">july 3 2022 - september 20 2022</h3>
                    
                    <h3 class="pos">job Position:</h3>
                    <span class="txt">web developer</span>
                    <h3 class="company">company name:</h3>
                    <span class="txt">DATAWORD</span>
                    <h3 class="address">address:</h3>
                    <span class="txt">cebu city</span>
                    <h3 class="location">description:</h3>
                    <span class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quidem sapiente sit necessitatibus. Optio delectus corrupti odit deleniti pariatur? Quidem expedita deleniti illo architecto dignissimos molestiae hic sapiente obcaecati aspernatur?</span>
                    
                </div>
              </div>
        </div>
       
    </div>
</body>
</html>